.layout{
    display:flex;
    min-height:100vh;
    overflow: hidden;
}

.sidebar{
    width:190px;
    height: 100vh;
    background:#52c498;
    color:white;
    display:flex;
    flex-direction:column;
    overflow: hidden;
}

.logo{
    padding:20px;
    text-align:center;
    border-bottom:1px solid rgba(255,255,255,.2);
}

.logo h2{
    margin:0;
    font-size: 22px;
}

.logo span{
    display: block;
    margin-top: 6px;
    font-size: 13px;
    color: #AC6E6E;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    padding:20px 0;
}

.sidebar a{
    color:white;
    text-decoration:none;
    padding:15px 25px;
    transition:.3s;
}

.sidebar a:hover{
    background:#3ba67d;
}

.menu-title{
    margin-top:20px;
    padding:8px 25px;
    font-size:13px;
    font-weight:bold;
    color:#dff7ee;
    text-transform:uppercase;
}

.usuarioSesion{
    margin-top: auto;
    padding: 15px 25px 10px;
    border-top: 1px solid rgba(255,255,255,.2);
    text-align: center;
    justify-content: center;
}

.usuarioSesion strong{
    display: block;
    font-size: 14px;
}

.usuarioSesion span{
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #dff7ee;
    word-break: break-word;
}

.logout{
    padding:5px 0 15px;
}

.logout a{
    display:flex;
    flex-direction:column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-bloqueado {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.contenido{
    flex: 1;
    min-width: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}